@model University_Management_System.Models.ClassRoomAllocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassRoomAllocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Course_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Course_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DeptCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DeptCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
