<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -University Management System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/bundles/jqueryval"></script>

    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("University Management System", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  

                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Department</button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Department/Create">Save Department</a>
                            </li>
                            <li>
                                <a href="/Department/Index">View Departments</a>
                            </li>
                        </ul>


                    </li>

                    <li class="dropdown">

                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Course</button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Course/Create">Save Course</a>
                            </li>
                            <li>
                                <a href="/CourseAssignToTeacher/ViewCourseStatistics">View Course Statistics</a>
                            </li>
                            <li>
                                <a href="/Course/UnassignCourses">Unassign All Courses</a>
                            </li>

                        </ul>

                    </li>

                    <li class="dropdown">

                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Teacher</button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Teacher/Create">Save Teacher</a>
                            </li>
                            <li>
                                <a href="/Teacher/Index">Show Teacher Details</a>
                            </li>
                            <li>
                                <a href="/CourseAssignToTeacher/Save">Course Assign to Teacher</a>
                            </li>

                        </ul>

                    </li>

                    <li class="dropdown">

                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Student</button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Student/Create">Register Student</a>
                            </li>

                            <li>
                                <a href="/Student/Index">Show Student Details</a>
                            </li>

                            <li>
                                <a href="/EnrollCourse/Create">Enroll Student in a Course</a>
                            </li>

                            <li>
                                <a href="/EnrollCourse/SaveResult"> Save Student Result</a>
                            </li>

                            <li>
                                <a href="/EnrollCourse/ViewResult"> View Result</a>
                            </li>

                        </ul>

                    </li>

                    <li class="dropdown">

                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">ClassRoom</button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/ClassRoomAllocation/Create">Allocate ClassRooms</a>
                            </li>

                            <li>
                                <a href="#">View Class Schedule and Room Information</a>
                            </li>

                            <li>
                                <a href="/ClassRoomAllocation/UnallocatedClassRoom"> Unallocate All Classroomsn</a>
                            </li>

                        </ul>

                    </li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Developed by Md Aslam </p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/bundles/jqueryval"> </script>
   
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            //$("#Date").datepicker({ format: 'yyyy-mm-dd', value: '2016-05-09' });
            //$("#enrollDate").datepicker({ format: 'yyyy-mm-dd', value: '2016-05-09' });
            //$("#Date").val("2016-05-09");
            //$("#enrollDate").val("2016-05-09");
        });
    </script>

</body>
</html>


@*//.......................*@


@*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>*@



@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/bundles/jqueryval"></script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>




                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })


                @Html.ActionLink("Semester", "Index", "Semester", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Designation", "Index", "Designation", new { area = "" }, new { @class = "navbar-brand" })


                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Department<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Create", "Department")">Save Department Info</a></li>
                            <li><a href="@Url.Action("Index", "Department")">View All Department</a></li>

                        </ul>
                    </li>
                </ul>





                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Course <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Create", "Course")">Add Course </a></li>
                            <li><a href="@Url.Action("Index", "Course")">View Course</a></li>


                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Enroll Course<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Create", "EnrollCourse")">Assign</a></li>
                            <li><a href="@Url.Action("SaveResult", "EnrollCourse")">Save Resuslt</a></li>
                            <li><a href="@Url.Action("ViewResult", "EnrollCourse")">View Result</a></li>

                        </ul>
                    </li>
                </ul>



                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Course Assign <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Create", "CourseAssignToTeacher")">Course Assign </a></li>
                            <li><a href="@Url.Action("Index", "CourseAssignToTeacher")">View Assign Course</a></li>
                            <li><a href="@Url.Action("ViewCourseStatistics", "CourseAssignToTeacher")"> ShowCourseStatistics</a></li>

                        </ul>
                    </li>
                </ul>







                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Teacher <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Create", "Teacher")">Save Teacher Info</a></li>
                            <li><a href="@Url.Action("Index", "Teacher")">View All Teacher</a></li>

                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Student <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Create", "Student")">Save Student Info</a></li>
                            <li><a href="@Url.Action("Index", "Student")"> View All Student</a></li>

                        </ul>
                    </li>
                </ul>


            </div>




        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>*@

    @*<form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>*@


    @*<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@


    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/bundles/jqueryval"> </script>
    @RenderSection("scripts", required: false)


</body>
</html>*@

@*//............................*@













